<div class="contentDisplay">
  <div id="resume-dashboard">
    <header>
      <div class="title"><img src="/assets/menu/resume.png" alt="resume">Resume</div>
      <div class="line"></div>
    </header>
    Work Experience <br>
    <div class="line"></div>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>
              <span class="date">[2016-2019]</span><br> Coordinator for animal health and quality
            <mat-panel-description>
            AKWEN Zoological wholesaler
            </mat-panel-description>
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="line"></div>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p><span class="date">[2011 - 2016]</span><br> Animal handler<br>
            <mat-panel-description>
            AKWEN Zoological wholesaler
            </mat-panel-description>
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="line"></div>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>[2011-2011] Florist
            <mat-panel-description>
            "Strelicja" Florist
            </mat-panel-description>
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="line"></div>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p><span class="date">[2010-2010]</span><br> SUBWAY Restaurant manager<br>
            <mat-panel-description>
              Central European Entertainment
            </mat-panel-description>
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="line"></div>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>
            <span class="date">[2008-2010]</span><br> SUBWAY Restaurant Worker<br>
            <mat-panel-description>
              Central European Entertainment
            </mat-panel-description>
            </p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="line"></div>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
