span {
  padding: 5%;
  float: right;
}

#resume-dashboard{
  margin: 5% 10% 0 10%;
}

.line{
  width: 100%;
  height: 0.08vw;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(64, 67, 69, 0) 100%);
  /*linear-gradient(rgba(64, 67, 69, 0), #1C1E1F 80%)*/
}


.title{
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 0 2% 3%;
}
