<div class="contentDisplay" id="contact">
    <header>
      <div class="title">Contact</div>
      <div class="line"></div>
    </header>
  <div id="contact-dashboard">

    <div id="map"></div>
    <span>Contact</span>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
  </div>
</div>
