/*.contentDisplay{*/
/*  background-color: darkviolet;*/
/*  position: relative;*/
/*  !*left: 470px;*!*/
/*  width: auto;*/
/*  height: 95%;*/
/*  margin: 2vh 0;*/
/*}*/

#map {
  width: 100%;
  height: 300px;
}

#contact-dashboard{
  display: grid;
}

.contentDisplay{
  height: 503px;
}

.col-5,
.col-s-5{
  font-size: 0.8rem;
}

#phone{
  float: right;
}

img {
  width: 27px;
  float: right;
}
















/*span {*/
/*  padding: 5%;*/
/*  float: right;*/
/*}*/

/*#contact-dashboard{*/
/*  margin: 5% 10% 0 10%;*/
/*}*/

/*.line{*/
/*  width: 100%;*/
/*  height: 0.08vw;*/
/*  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(64, 67, 69, 0) 100%);*/
/*  !*linear-gradient(rgba(64, 67, 69, 0), #1C1E1F 80%)*!*/
/*}*/


/*.title{*/
/*  font-weight: bold;*/
/*  font-size: 1.3em;*/
/*  margin: 0 0 2% 3%;*/
/*}*/
/*.contentDisplay {*/
/*  background-color: #404345;*/
/*  box-shadow: 20px 10px 70px #1f2121 inset;*/
/*  border-radius: 1%;*/
/*  position: absolute;*/
/*  top: auto;*/
/*  right: auto;*/
/*  width: 54vw;*/
/*  height: 38.5vw;*/
/*  float: left;*/
/*  !*position: absolute;*!*/
/*  !*margin: 4vh 0 0 -1vw;*!*/
/*  color: white;*/

/*}*/
