<div class="contentDisplay" id="about">
  <header>
    <div class="title"><img src="/assets/menu/about.png" alt="about"> About</div>
    <div class="line"></div>
  </header>
  <div id="about-dashboard">
    <p><strong>Hello, I'm Kasia</strong><br>
      I am Java fullstack wannabe :) <br>
      My programming adventure started a
      year ago. Currently, I mainly develop
      my skills in Java 11, Spring and
      Angular. I also have some experience
      in Python, Flask, JavaScript and
      PostgreSQL. I am open to learn new
      technologies.</p>

    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
  </div>
</div>
