<img mat-card-image
     src="https://raw.githubusercontent.com/Kasia-Sikora/ShoppingListDemo-UI/master/src/assets/screenshots/foodstuff1.png"
     alt="Foodstuff photo">

<p>Backend code is available at this link: <br><a (click)="goToLink('https://github.com/Kasia-Sikora/ShoppingListDemo')">GitHub: FoodStuff Backend</a></p>
<p>Frontend code is available at this link: <br><a (click)="goToLink('https://github.com/Kasia-Sikora/ShoppingListDemo-UI')">GitHub: FoodStuff Frontend</a></p>
<p>The website can be viewed here: <a (click)="goToLink('http://foodstuff.sikorakatarzyna.pl')">FoodStuff Website</a></p>

<h4>Description:</h4>
<div class="line"></div>
<p>The foodstuff project was created to learn Spring and Angular.<br>
  The main assumptions were to create a set of personal recipes, from which you can then easily and quickly generate
  a shopping list. The project is still being developed and improved.</p><br>

<h4>My Goals:</h4>
<div class="line"></div>
<ul>
  <li>Getting familiar with Spring Framework:</li>
  <ul>
    <li>Spring Boot</li>
    <li>JPA</li>
    <li>Hibernate</li>
    <li>Security - JWT</li>
    <li>Testing with Junit</li>
  </ul>
  <li>Deepening knowledge about PostreSQL</li>
  <li>Server support:</li>
  <ul>
    <li>Nginx</li>
    <li>Wildfly</li>
  </ul>
  <li>Testing:</li>
  <ul>
    <li>Junit</li>
    <li>Travis</li>
    <li>Codecov</li>
  </ul>
</ul>

<h4>Main functionalities:</h4>
<div class="line"></div>
<ul>
  <li>Registration and user login with e-mail confirmation</li>
  <li>Searching for products from the database and adding new products</li>
  <li>Add, delete and edit recipes</li>
  <li>Generating shopping lists</li>
</ul>

<h4>Plans:</h4>
<div class="line"></div>
<ul>
  <li>Generating a shopping list based on a given number of servings</li>
  <li>Share the list with other users</li>
  <li>Ability to send the list by email</li>
</ul>
