<div class="contentDisplay" id="projects">
  <header>
    <div class="title"><img src="/assets/menu/work.png" alt="work">Projects</div>
    <div class="line"></div>
  </header>
  <div id="projects-dashboard">
    <div class="row">
      <div class="col-6 col-s-6">
        <a [routerLink]="['/projects', 'CV']">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>CV</mat-card-title>
              <mat-card-subtitle>HTML + CSS</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="https://raw.githubusercontent.com/Kasia-Sikora/Web-CV/master/src/assets/Screenshot.jpg"
                 alt="CV Photo">
          </mat-card>
        </a>
      </div>
      <div class="col-6 col-s-6">
        <a [routerLink]="['/projects', 'FoodStuff']">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>FoodStuff</mat-card-title>
              <mat-card-subtitle>Spring + Angular</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="https://raw.githubusercontent.com/Kasia-Sikora/ShoppingListDemo-UI/master/src/assets/screenshots/foodstuff1.png"
                 alt="Foodstuff photo">
          </mat-card>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-s-6">
        <a [routerLink]="['/projects', 'Life of Ants']">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Life of ants</mat-card-title>
              <mat-card-subtitle>Java FX</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="https://raw.githubusercontent.com/Kasia-Sikora/LifeOfAnts/master/src/main/resources/Screenshot.png?token=AMREBIFIY7RAGR6TCDMF56S63JIUQ"
                 alt="LoA photo">
          </mat-card>
        </a>
      </div>
      <div class="col-6 col-s-6">
        <a [routerLink]="['/projects', 'API wars']">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>API Wars</mat-card-title>
              <mat-card-subtitle>Python+JavaScript+HTML+CSS</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="https://raw.githubusercontent.com/Kasia-Sikora/API-WARS/master/static/img/Screenshot.png"
                 alt="API WARS photo">
          </mat-card>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-6 col-s-6">
        <a [routerLink]="['/projects', 'Arkanoid']">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Arkanoid</mat-card-title>
              <mat-card-subtitle>JavaScript + CSS + HTML</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
                 src="https://raw.githubusercontent.com/Kasia-Sikora/arkanoid/master/static/img/Screenshot.png"
                 alt="CV Screenshot">
          </mat-card>
        </a>
      </div>
      <div class="col-6 col-s-6">
        <a [routerLink]="['/projects', 'Memory Game']">
          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Memory Game</mat-card-title>
              <mat-card-subtitle>JavaScript+Python<br></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://raw.githubusercontent.com/Kasia-Sikora/MemoryGame/master/MemoryGame.jpg"
                 alt="Memory game photo">
          </mat-card>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class="line"></div>
  </footer>
</div>
