<div class="contentDisplay">
  <div id="projects-dashboard">
    <header>
      <div class="title">Projects</div>
      <div class="line"></div>
    </header>
    <span>projects</span>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
    Lorem Ipsum <br>
  </div>
</div>
