/*.contentDisplay{*/
/*  !*background-color: darkviolet;*!*/
/*  !*position: relative;*!*/
/*  !*!*left: 470px;*!*!*/
/*  !*width: auto;*!*/
/*  !*height: 95%;*!*/
/*  !*margin: 2vh 0;*!*/
/*}*/

mat-card {
  height: 240px;
  margin: 5px;
  background-color: #999797;
  box-shadow: 2px 2px 2px  inset white !important;
  color: black;
}

mat-card:hover{
  background-color: white;
}

mat-card-subtitle{
  color: black;
  font-weight: bolder;
}

img{
  height: calc(100% - 50px);
}

#projects-dashboard{
  display: grid;
}

mat-card-header{
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 300px) {
  .mat-card{
    width: 200px;
  }
}


























/*span {*/
/*  padding: 5%;*/
/*  float: right;*/
/*}*/

/*#projects-dashboard{*/
/*  margin: 5% 10% 0 10%;*/
/*}*/

/*.line{*/
/*  width: 100%;*/
/*  height: 0.08vw;*/
/*  background: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(64, 67, 69, 0) 100%);*/
/*  !*linear-gradient(rgba(64, 67, 69, 0), #1C1E1F 80%)*!*/
/*}*/


/*.title{*/
/*  font-weight: bold;*/
/*  font-size: 1.3em;*/
/*  margin: 0 0 2% 3%;*/
/*}*/
/*.contentDisplay {*/
/*  background-color: #404345;*/
/*  box-shadow: 20px 10px 70px #1f2121 inset;*/
/*  border-radius: 1%;*/
/*  position: absolute;*/
/*  top: auto;*/
/*  right: auto;*/
/*  width: 54vw;*/
/*  height: 38.5vw;*/
/*  float: left;*/
/*  !*position: absolute;*!*/
/*  !*margin: 4vh 0 0 -1vw;*!*/
/*  color: white;*/

/*}*/
