<header id="menuContent">
  <div id="name-bar">
    <div class="picture-block">
      <img id="photo" src="../../assets/zdjecieCV.png" alt="photo">
          Katarzyna Sikora
    </div>
    <div class="line"></div>
  </div>

  <div id="menu">
    <button [routerLink]="['/about']">
      <img class="image" src="../../assets/menu/about.png" alt="about">
      <img class="image-hover" src="../../assets/menu/about1.png" alt="about">
      ABOUT
    </button>
    <div class="line"></div>

    <button [routerLink]="['/resume']">
      <img class="image" src="../../assets/menu/resume.png" alt="resume">
      <img class="image-hover" src="../../assets/menu/resume1.png" alt="resume">
      RESUME
    </button>
    <div class="line"></div>

    <button [routerLink]="['/projects']">
      <img class="image" src="../../assets/menu/work.png" alt="projects">
      <img class="image-hover" src="../../assets/menu/work1.png" alt="projects">
      PROJECTS
    </button>
    <div class="line"></div>

    <button [routerLink]="['/contact']">
      <img class="image" src="../../assets/menu/contact.png" alt="contact">
      <img class="image-hover" src="../../assets/menu/contact1.png" alt="contact">
      CONTACT
    </button>
  </div>
</header>
