#menuContent {
  position: fixed;
  width: 100%;
  background-color: #404345;
  float: left;
  top: 0;
  right: 0;
  z-index: 5;
  height: auto;
  box-shadow: 20px 10px 70px #1f2121 inset;
  border-radius: 6px;
}

.centered{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0 0 5px;
}

#menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.centered>#photo{
  width: 35px;
  margin: 0 10px 5px 10px;
}

#mini>.line{
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #404345, #FFFFFFFF, #404345);
  margin-bottom: 0;
  margin-top: 0;
}

img {
  width: 27px;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  height: auto;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  margin: 5px 0;
  min-width: 65px;
}

button:focus{
/*  color: #58712e;*/
/*  text-shadow: olive;*/
}

.line {
  width: 1px;
  height: inherit;
  background: linear-gradient(to top, rgba(45, 46, 49, 0.5) 20%, #FFFFFFFF);
}


@media only screen and (min-width: 670px) {
  #mini{
    display: none;
  }

  #menuContent{
    position: fixed;
    top: 10vh;
    right: unset;
    margin-left: 20px;
    width: 70px;
  }

  #menu{
    display: flex;
    flex-direction: column;
    height: 300px;
  }

  #menu>.line{
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(45, 46, 49, 0.5) 20%, #FFFFFFFF);
  }
}

@media only screen and (min-width: 1130px) {
  #menuContent{
    margin-left: 15px;
    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
    margin-top: unset;
  }
}

/*#menuContent{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: space-evenly;*/
/*  position: relative;*/
/*  margin: 5vw 0.5vw auto 0;*/
/*  width: 7vw;*/
/*  float: left;*/
/*  height: 30vw;*/
/*  font-size: 0.8em;*/
/*  text-align: center;*/
/*  z-index: 4;*/
/*  background-color: #404345;*/
/*  box-shadow: 20px 10px 70px #1f2121 inset;*/
/*  border-radius: 1%;*/
/*  !*position: absolute;*!*/
/*  top: auto;*/
/*  right: auto;*/
/*}*/



