#personalContent{
  position: relative;
  background-color: green;
  width: 400px;
  height: 100%;
  float: left;
  z-index: 2;
}













































/*#photo {*/
/*  width: 10vw;*/
/*  height: auto;*/
/*  display: block;*/
/*  margin: 10vw auto 1em;*/
/*  position: relative;*/
/*}*/


/*#personalContent {*/
/*  position: relative;*/
/*  width: 32vw;*/
/*  height: 41vw;*/
/*  float: left;*/
/*  z-index: 2;*/
/*  margin: 1vh 0;*/
/*  box-shadow: -15px -15px 0 1px rgba(64, 67, 69, 0.2);*/
/*  text-align: center;*/
/*  font-size: 1.8em;*/
/*  display: inline-flex;*/
/*  flex-direction: column;*/
/*  background-color: #404345;*/
/*  !*box-shadow: 20px 10px 70px #1f2121 inset;*!*/
/*  border-radius: 1%;*/
/*  !*position: absolute;*!*/
/*  top: auto;*/
/*  right: auto;*/
/*}*/




/*#background{*/
/*  width: 100%;*/
/*  height: 55%;*/
/*  background: linear-gradient(rgba(64, 67, 69, 0), rgb(64, 67, 69) 100%), url("src/assets/forest.jpg") center center, no-repeat, fixed;*/
/*  background-size: cover;*/
/*  box-shadow: 20px 10px 70px rgba(64, 67, 69, 0) inset;*/
/*  border-radius: 1%;*/
/*  position: absolute;*/
/*}*/

/*#photoShadow{*/
/*  width: 11vw;*/
/*  height: 11vw;*/
/*  background-color: #58712e;*/
/*  position: absolute;*/
/*  display: block;*/
/*  margin: 9.5vw 10.5vw 9%;*/
/*  border-radius: 50%;*/
/*  box-shadow: 2px 3px 3px 1px inset black;*/
/*}*/

/*div:nth-of-type(4){*/
/*  margin-top: 8vw;*/
/*  width: 100%;*/
/*}*/

/*.line{*/
/*  width: 60%;*/
/*  height: 0.08vw;*/
/*  background: linear-gradient(to right, #404345, #FFFFFFFF, #404345);*/
/*  display: block;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/

/*#position{*/
/*  font-size: 0.6em;*/
/*}*/

/*#footer{*/
/*  display: flex;*/
/*  background-color: rgba(0, 0, 0, 0);*/
/*  justify-content: center;*/
/*}*/


/*.ver-line{*/
/*  width: 0.3%;*/
/*  height: 4vw;*/
/*  background: linear-gradient(#FFFFFFFF, #404345);*/
/*  display: block;*/
/*  margin-left: auto;*/
/*  margin-right: auto;*/
/*}*/


/*button{*/
/*  height: 5vw;*/
/*  width: 50%;*/
/*  background-color: #404345;*/
/*  text-align: center;*/
/*  border: none;*/
/*  color: white;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.logo{*/
/*  width: 3vw;*/
/*}*/

