<div id="personalContent">
  <div id="background"></div>
  <div id="photoShadow"></div>
  <img id="photo" src="../../assets/zdjecieCVweb.png">
  Katarzyna Sikora
  <div class="line"></div>
  <span id="position"> Junior Fullstack Developer </span>
  <div class="line"></div>
  <div id="footer">
    <button id="gitHub">GitHub <img class="logo" src="./assets/personal/github.png"></button>
    <div class="ver-line"></div>
    <button id="linkedIn">LinkedIn <img class="logo" src="./assets/personal/linkedIn.png"></button>
  </div>
</div>
