#personalContent{
  position: relative;
  background-color: #404345;
  width: 100%;
  height: 600px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  max-height: 560px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);
  box-shadow: -15px -15px 0 1px rgba(64, 67, 69, 0.2);
  border-radius: 6px;
  font-size: 1.8rem;
}

#download{
  height: auto;
  box-shadow: 1px 1px 8px 1px inset #999797;
  margin: 30px;
  width: 40%;
  padding: 8px;
  border-radius: 10px;
}

#download:hover{
  box-shadow: 1px 1px 8px 1px inset white;
}

#background{
  width: 100%;
  height: 60%;
  background: linear-gradient(rgba(64, 67, 69, 0), rgb(64, 67, 69) 100%), url("src/assets/forest.jpg") center center, no-repeat, fixed;
  background-size: cover;
  box-shadow: 20px 10px 70px rgba(64, 67, 69, 0) inset;
  border-radius: 1%;
  position: relative;
  margin-bottom: 5px;
}

#photo {
  width: 150px;
  height: auto;
  display: block;
  margin-top: 140px;
  position: absolute;
}

#photoShadow{
  width: 160px;
  height: 160px;
  background-color: #58712e;
  position: absolute;
  display: block;
  margin-top: 135px;
  border-radius: 50%;
  box-shadow: 2px 3px 3px 1px inset black;
}

.line{
  width: 60%;
  height: 1px;
  background: linear-gradient(to right, #404345, #FFFFFFFF, #404345);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.logo{
  width: 40px;
}

div:nth-of-type(4){
  /*margin-top: 60px;*/
  width: 100%;
}

#footer{
  display: flex;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  max-height: 70px;
}

#position{
  font-size: 1.2rem;
}

button{
  height: 100%;
  width: 50%;
  background-color: #404345;
  text-align: center;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 1rem;
}

button:hover{
  color: #8cb165;
}


.ver-line{
  width: 1px;
  height: 100%;
  background: linear-gradient(#FFFFFFFF, #404345);
  align-self: flex-end;
}


@media only screen and (min-width: 670px) {
  #personalContent{
    max-width: none;
    margin-left: -10px;
  }
}

@media only screen and (min-width: 1130px) {
  #personalContent{
    margin-left: unset;
  }
}

































/*#personalContent {*/
/*  position: relative;*/
/*  width: 32vw;*/
/*  height: 41vw;*/
/*  float: left;*/
/*  z-index: 2;*/
/*  margin: 1vh 0;*/
/*  box-shadow: -15px -15px 0 1px rgba(64, 67, 69, 0.2);*/
/*  text-align: center;*/
/*  font-size: 1.8em;*/
/*  display: inline-flex;*/
/*  flex-direction: column;*/
/*  background-color: #404345;*/
/*  !*box-shadow: 20px 10px 70px #1f2121 inset;*!*/
/*  */
/*  !*position: absolute;*!*/
/*  top: auto;*/
/*  right: auto;*/






/*}*/









