<div class="contentDisplay">
  <header>
    <div class="title"><img src="/assets/menu/about.png" alt="about"> About</div>
    <div class="line" id="header-line"></div>
  </header>
  <div class="content-dashboard">
    <h4>Hello, I'm Kasia</h4>
    <p>I am Java Fullstack Developer wannabe :) <br>
      My programming adventure started a
      year ago. Currently, I mainly develop
      my skills in Java 11, Spring and
      Angular. I also have some experience
      in Python, Flask, JavaScript and
      PostgreSQL. I am open to learn new
      technologies.</p>

    <h4>My Story</h4>
    <div class="line"></div>
    <p>
      Most of my life I have been passionate about animals, from insects and reptiles to mammals. I also associated my
      work with this. For the last 7 years I have been working in a wholesaler with animals, where I was able to
      develop, learn new fish species and create the best conditions for them that I could afford. During this time, I
      really learned a lot, I got promotions, changed positions, because I still wanted more and the job gave me great
      satisfaction. However, at some point, I achieved everything I wanted in that company, there was no possibility of
      development anymore.<br>
      Then I decided to change the industry and the choice fell on Codecool. I'd never been interested in computers or
      code before, but I wanted to try. The school gave the possibility of a trial period of three months, after which
      you could resign, so I decided to do so.</p>

    <p>First, I had to learn Python. I knew a lot about it: when and what to feed, how to handle it so that it would
      not bite, what kind of environment is needed. But that's not what it was about ;)<br>
      It was a difficult beginning, the first contact with the code, some bugs, if's, loops ... But I made it, and
      what's more, I liked it very much. I had the satisfaction of solving problems and creating something from scratch,
      about which I had no clue a moment ago. Then came the web page: Flask, HTML, CSS and JavaScript. It was difficult,
      but it also worked.<br>
      When it was time to choose a specialization (Java or C #), my choice fell on JAVA. I got to know the world of OOP,
      we created various simulators like gladiatorial fights or the life of ants. It was a great feeling to start the
      prophet and see him live his own life and also know how it works, because I wrote it myself :)</p>

    <p>Finally, Spring and React was left, but instead of react, I decided to read the Angular better.
      After graduating from school, I'm continue my education and create new projects to enrich the portfolio.</p>

    <p>There is still a lot of learning ahead of me, but I think that since I, who had never seen the code before in 13
      months, was able to learn the attitudes of so many languages ​​and technologies, I can handle many situations.<br>
      This is my short but intense programming history. I hope to get my first job in a new industry soon and have many
      development paths :)</p>

    <h4>Interests</h4>
    <div class="line"></div>
    <p>
      In my free time I’m interested in pastries, from cakes and cookies to various kinds of bread. In
      addition, I’m interested in animal psychology, mainly dogs, and their training. Once in a while
      climbing gives me a bit of active recreation.</p>

  </div>
</div>
