<img mat-card-image src="https://raw.githubusercontent.com/Kasia-Sikora/MemoryGame/master/MemoryGame.jpg"
     alt="Memory game photo">

<p>Code is available at this link: <a (click)="goToLink('https://github.com/Kasia-Sikora/MemoryGame')"> GitHub: Memory
  Game</a></p>

<h4>Description</h4>
<div class=”line”></div>
<p>Memory game is a card game in which all of the cards are laid face down on a surface and two cards are flipped face
  up over each turn. The object of the game is to turn over pairs of matching cards.</p>

<h4>My goals:</h4>
<div class="line"></div>
<ul>
  <li>Expanding knowledge in the field of CSS and HTML</li>
  <li>Practicing game logic in JavaScript</li>
</ul>
