@import "../../../custom-style";

mat-card {
  height: 280px;
  margin: 5px;
  background-color: #999797;
  box-shadow: 2px 2px 2px  inset white !important;
  color: black;
  &:hover{
    background-color: white;
  }
}

mat-card-subtitle{
  color: black;
  font-weight: bolder;
}

mat-card-header{
  justify-content: center;
  align-items: center;
}

.mat-card-subtitle,
.mat-card-title{
  text-align: center;
}

@media only screen and (max-width: 300px) {
  .mat-card{
    width: 200px;
  }
}

img{
  height: calc(100% - 80px);
}

.line{
  @include two-colour-line;
}

.content-dashboard{
  padding: unset;
}

mat-card-content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  background-color: white;
}

.frontend-mentor-image{
  width: auto;
  height: auto;
}
