<img mat-card-image src="https://raw.githubusercontent.com/Kasia-Sikora/FA-room-homepage/main/src/static/images/Screenshot.png"
     alt="Room Homepage photo">

<p>Code is available at this link: <a (click)="goToLink('https://github.com/Kasia-Sikora/FA-room-homepage')"> GitHub: Room Homepage</a></p>

<h4>Description</h4>
<div class="line"></div>
<p>Testimonial grid section is challenge from site <a (click)="goToLink('https://www.frontendmentor.io')">Frontend Mentor</a></p>

<h4>My goals:</h4>
<div class="line"></div>
<ul>
  <li>Practice building quick, simple site from design example</li>
  <li>Develop skills in SCSS</li>
  <li>Develop skills in JavaScript</li>
  <li>Develop skills in RWD</li>

</ul>
