.container {
  position: relative;
  height: 100%;
  width: 100%;
  /*max-width: 1311px;*/
  /*max-height: 610px;*/
  /*background-color: #2d2e31;*/
}

#content{
  /*background-color: red;*/
  position: relative;
  width: 100%;
  height: auto;
  /*max-width: 400px;*/
  /*left: 50%;*/
  /*margin-right: -50%;*/
  /*transform: translate(-50%, 0);*/
  /*display: flex;*/
}

.contentDisplay{
  border-radius: 6px;
  padding: 10px;
}

/*For Tablets*/
@media only screen and (min-width: 670px) {
  .container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
  .contentDisplay{
    max-width: none;
  }
}

/* For desktop: */
@media only screen and (min-width: 1130px) {
  html{
    overflow: hidden;
  }
  .container{
    position: absolute;
    width: 100%;
    max-width: 1150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: unset;
    margin: unset;
  }

  #menuContent{
    width: 70px;
  }

  #menuContent>.line{
    width: inherit;
    height: 1px;
  }

  #content{
    position: absolute;
    margin-top: 10px;
  }

  .contentDisplay {
    position: relative;
    overflow: auto;
    max-height: 530px;
    margin-left: -10px;
  }

}


/*#page-display{*/
/*  display: flex;*/
/*  position: relative;*/
/*  !*justify-content: center;*!*/
/*  !*align-items: center;*!*/
/*  !*flex-wrap: wrap;*!*/
/*  !*height: 100vh;*!*/

/*}*/


/*.contentDisplay{*/
/*!*  background-color: red;*!*/
/*!*  position: relative;*!*/
/*!*  left: 470px;*!*/
/*!*  width: auto;*!*/
/*!*  height: 95%;*!*/
/*!*  margin: 2vh 0;*!*/
/*}*/








































/*#container{*/
/*  margin: 5% 5%;*/
/*  height: 80%;*/
/*  position: fixed;*/
/*  width: 90%;*/
/*  display: inline-flex;*/
/*  align-content: center;*/
/*}*/

/*#content{*/
/*position: relative;*/
/*}*/
