<img mat-card-image
     src="https://raw.githubusercontent.com/Kasia-Sikora/API-WARS/master/static/img/Screenshot.png"
     alt="API WARS photo">

<p>Code is available at this link: <a href="https://github.com/Kasia-Sikora/API-WARS">GitHub: API WARS</a> </p>

<h4>Description:</h4>
<div class="line"></div>
<p>Api Wars is web application which shows data about the Star Wars universe, store visitor preferences with
  cookies and handle user login with sessions.
  <br>
</p>

<h4>My goals:</h4>
<div class="line"></div>
<ul>
  <li>Expanding knowledge in the field of CSS and HTML</li>
  <li>Increase your knowledge with JavaScript</li>
  <li>Increase your Flask knowledge</li>
  <li>PostgreSQL database support</li>
  <li>Expanding the knowledge of using an external API</li>
</ul>



