<img mat-card-image
     src="https://raw.githubusercontent.com/Kasia-Sikora/arkanoid/master/static/img/Screenshot.png"
     alt="CV Screenshot">

<p>Code is available at this link: <a (click)="goToLink('https://github.com/Kasia-Sikora/arkanoid')"> GitHub: Arkanoid</a></p>

<h4>Description:</h4>
<div class="line"></div>
<p> Arkanoid is a simple arcade game mostly built to practice javaScript.</p>
  <p>The player controls the "Vaus", a space vessel that acts as the game's "paddle" which prevents a ball from
  falling
  from the playing field, and attempts to bounce the ball against a number of bricks. The ball striking a brick
  causes the brick to disappear.
  </p>

<h4>My goals:</h4>
<div class="line"></div>
<ul>
  <li>Expanding knowledge in the field of CSS and HTML</li>
  <li>Practicing game logic in JavaScript</li>
</ul>

