<div id="personalContent">
  <span id="background"></span>
  <span id="photoShadow"></span>
  <img id="photo" src="../../assets/zdjecieCV.png" alt="personalPhoto">
  Katarzyna Sikora
  <div class="line"></div>
  <span id="position"> Java Fullstack Developer </span>
  <button id="download" (click)="downloadPdf()"> Download CV in PDF</button>
  <div class="line"></div>
  <div id="footer">
    <button id="gitHub" (click)="goToLink('https://github.com/Kasia-Sikora')">GitHub
      <img class="logo" src="./assets/personal/github.png">
    </button>
    <div class="ver-line"></div>
    <button id="linkedIn" (click)="goToLink('https://www.linkedin.com/in/katarzyna-sikora/')">LinkedIn
      <img class="logo" src="./assets/personal/linkedIn.png">
    </button>
  </div>
</div>
